.weather,
#LeaderBoardTop,
.boxraovat_catedetail,
.detail__sticky,
#LeaderBoardTop,
#detail_comment,
.detail-tab,
.footer,
.box-author-detail,
[type="RelatedOneNews"],
.detail__qc,
.detail-info,
#ContentPlayerPc,
#tto_chude_web,
#tto_docthem_web,
.section__r-giaitri,
.toppic__foccus-full,
.section__mn-sub.wrapper_right,
.section__hf-list,
[data-atc="atc-nonstar"],
.detail-same-cate,
#product-list-plugin,
.detail__related,
.detail__same-category,
.section__r-vietlot,
.detail__newslette,
.sendstarauthor,
[data-view="formcomment"],
.header__top-right {
  display: none !important;
}

.detail__main {
  margin: 0 auto;
}

#main-detail .section__home-focus .section__hf-box {
  width: auto !important;
}

.detail-cmain {
  line-height: 1.6;
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.6em;
    line-height: 1.6;
  }
}

.detail-sapo {
  font-size: 1.6em;
  font-weight: normal;
}